.images {
  background-image: url(../assets2/landing\image3.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: scroll;  */
  background-size: cover;
  height: 720px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20%;
}

#contact {
  font-size: 30px;
  text-align: center;

  padding-top: 3%;
}
footer {
  background-color: bisque;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-top: 100px;
}

.button:hover {
  opacity: 1;
}
li {
  border-radius: px;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
ul li {
  padding: 20px;
}
